@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://wa.me/18494093684?text=Hola,%20te%20contacto%20para%20un%20trabajo%20bueno,%20te%20pagaremos%20mucho%20dinero." target="_blank">Jahaziel Joel</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
