@page "/Acerca de"
@inject HttpClient Http

<PageTitle>Acerca de</PageTitle>

<h1>Acerca de</h1>

<h2>Mis datos</h2>

<div class="card mx-auto" style="width: 24rem;">
    <img src="Images/Imagen1.jpg" class="card-img-top rounded-circle mx-auto d-block mt-3" alt="Foto del Estudiante" style="width: 150px; height: 150px; object-fit: cover;" />

    <div class="card-body">
        <h5 class="card-title">Jahaziel Joel Terrero Lorenzo</h5>

        <p class="card-text">
            <strong>Correo electrónico:</strong> <a href="mailto:jahazielterrero@gmail.com">jahazielterrero@gmail.com</a>
        </p>

        <p class="card-text">
            <strong>Enlaces de contacto:</strong>
            <br />
            <a href="https://wa.me/18494093684?text=Hola,%20te%20contacto%20para%20un%20trabajo%20bueno,%20te%20pagaremos%20mucho%20dinero." target="_blank" class="btn btn-success">
                Chat en WhatsApp
            </a>
            <br />
            <a href="https://t.me/JahazielJoel?text=Hola,%20te%20contacto%20para%20un%20trabajo%20bueno,%20te%20pagaremos%20mucho%20dinero." target="_blank" class="btn btn-primary mt-2">
                Chat en Telegram
            </a>
            <p class="card-text">Al terminar mi carrera quiero dedicarme a lo que estudié obviamente, aunque el Desarrollo de Software abarca algunas ramas o áreas de la Informática. </p>
        </p>
    </div>
</div>

<style>

    h1 {
        color: rgb(103, 41, 5);
    }


    .card {
        margin-top: 20px;
        text-align: center;
        width: 100%; 
        max-width: 500px; 
    }

    .card-img-top {
        border: 4px solid #3d0a0a; 
    }

    .btn {
        width: 100%; 
    }
</style>
